body{
    margin: 0;
    padding: 0;
}   

.userappBar{
    max-width: 100%;
    height: 47px;
    
}
.e_image>img{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
    position: relative;
}
.loginpage>img{
   
    flex: display;
    padding-top:0px;    
}
@media (min-width:0px) {
    .userappBar{
        
        max-width: 100%;
        min-width: 1000px;
    }
 }
.fullBox{
    width: 100%;
    display: flex;
    height: 100vh;
}


 .userfullLeft{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
 }
 @media screen and (max-width:480px) {
    .userfullLeft{
        width: 100%;
        
    }

    .textfiled{

        background-color: black;
    }
    
 }
 .fullRight{
    width: 50%;
    background-color:#f3fbff;

    
 }
 
 .fullRight>img{
    padding-top: 10%;
    padding-left: 25%;
 }
.fullRight>p{
    display: flex;
    justify-content: center;
    font-weight:500;
}

.userfullLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userfullLeft>img{
    padding-top: 50px;
    height: auto;
    width: 50%;
}
.linkStyle>a{
  
  padding-top: 20px;
  float: right;
  color: red;
  text-decoration: none;

}

.userfullLeft>img{

   padding-top: 90px; 
   height: 140px;
   font-size: 200px;
   width: 500px;

}

.password-pitcure >img{
    
    margin-top: 10px;
    margin-left: 160px;
}

h1{
    font-family:'Montserrat';

}

.idappbar{

    background: linear-gradient(90deg, rgba(0, 28, 128, 0.74) 19.72%, rgba(128, 208, 253, 0.74) 103.61%);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

     height: 45px;

}

